.title {
    left: 480px;
    top: 60px;
    font-family: "Crete Round";
    font-size: 34px;
    line-height: 43px;
}

.big-title {
    font-family: "Crete Round";
    left: 480px;
    top: 193px;
    font-size: 58px;
    line-height: 64px;
    
    letter-spacing: 2.9px;
}

.text {
    font-family: "Lato";
}

.text_1 {
    font: optional;
    left: 480px;
    top: 421px;
    font-size: 15px;
    line-height: 28px;
    
    letter-spacing: 0.75px;    
}
.img {
    width: 717px;
    height: 569px;
    
}

.button {
    padding: 16px 36px;
    border-radius: 50px;
    border: 1px solid #FFB0B1;
    box-sizing: border-box;
    border-radius: 50px;
    left: 656px;
    top: 553px;
    color: black;
    background: white;
}

.button-blue {
    left: 480px;
    top: 553px;
    border: 0cm;
    color: white;
    background: #233FE2;
}